# Environment and configuration files
app.env
.env
.air.toml
example.env

# Version control
.git
.gitignore
.gitlab-ci.yml

# IDE and editor files
.idea
.vscode
.claude

# Project files
Makefile
README.md

# Directories
docs/
deps/
deployment/
scripts/
tmp/
bin/
storage/
.scannerwork/
coverage/
/src/pkg/db/postgres/seed
/src/pkg/db/postgres/sqlc/migrations
/src/pkg/db/postgres/sqlc/query
/src/pkg/db/postgres/sqlc.yml

# Build artifacts
*.log
*.out
*.env
*.sql

# Docker files
Dockerfile
docker-compose.yml